// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 15px;
}
// Спойлер
.spollers__item {
	font-size: rem(20);  
	border: 2px solid #CEE5FF;
	border-radius: rem(10);
}
// Заголовок спойлера
.spollers__title {
	display: flex;
	align-items: center;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	gap: rem(8);
	width: 100%;
	cursor: default;
	text-align: left;
	// border: 1px solid #eee;
	padding: rem(10) rem(86) rem(10) 0; 
	border-radius: rem(5);
	position: relative;
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 10px;
			top: 50%;
			background-color: #000;
			height: 2px;
			width: 15px;
			transition: transform 0.5s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	padding: rem(20);
	border-radius: rem(5);
	// border: 1px solid #eee;
}

.spollers__title-left {
	direction: rtl;
	font-size: rem(20);
	font-weight: 700;
	line-height: math.div(23.7, 20);
	color: #666;
	text-align: center;
	padding: rem(10) rem(20);
	border-radius: rem(7);
	background-color: #E8E4E4;
}

.spollers__title-right {
	font-size: rem(24);
	font-weight: 700;
	line-height: math.div(33.6, 24);
	color: #242440;
}