.checkbox {
	position: relative;
	direction: rtl;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute; 
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			// box-shadow: 0 0 5px #000;
		}
		&:checked + .checkbox__label:before {
			background: #FF6A00;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 rem(24);
			width: rem(24);
			height: rem(24);
			border-radius: rem(4);
			border: rem(1) solid #FF6A00;
		}
	}
	// .checkbox__text
	&__text {
		direction: rtl;
		text-align: right;
		display: flex;
		flex-wrap: wrap;
		a {
			color: #0587D6;
		}
	}
}
