//<INPUT>
// Снипет (HTML): inp
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
// Убираем стрелки у цифрового инпута
input[type='number'] {
	-moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { 
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

input[type="time"] {
	// background:transparent url(/assets/images/clock.png)  97% 50% no-repeat !important;
 }
 input[type="time"]::-webkit-inner-spin-button {
	display: none;
 }
 input[type="time"]::-webkit-calendar-picker-indicator {
	opacity: 0;
 }
//========================================================================================================================================================

.input {
	width: 100%;
	display: block;
	@include adaptiveValue("font-size", 16, 12);
	font-weight: 400;
	@include adaptiveValue("height", 56, 44);
	color: #666;
	text-align: right;
	padding: rem(15) rem(20);
	border-radius: rem(10);
	border: 1px solid #CEE5FF; 
	&._form-focus {
	}
	&._form-error {
	}
}
.item-form--tel .input {
	text-align: left;
}
textarea.input {
	min-height: rem(80);
	resize: none;
	// padding: 0px 0px;
}

.item-form._form-error {
	.input {
		border: 1px solid red;
	}
}

.input-item {
	display: flex;
	// align-items: center;
	@include adaptiveValue("height", 60, 40);
	border: 1px solid #C2C2C2;
	border-radius: rem(10);
	background-color: #fff;
}
.input-item__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	@include adaptiveValue("width", 60, 40);
	svg {
		width: rem(14);
		height: rem(8);
	}
}
.input-item__input {
	flex: 1 1 auto;
	input {
		@include adaptiveValue("font-size", 16, 12);
		font-weight: 400;
		color: #666;
		padding-top: rem(15);
		padding-bottom: rem(15);
		@include adaptiveValue("padding-left", 20, 10);
		@include adaptiveValue("padding-right", 20, 10);
		width: 100%;
		height: 100%;
		text-align: right;
		direction: rtl;
	}
}
.input-item__icon-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
	@include adaptiveValue("width", 60, 50);
	border-left: rem(1) solid #C2C2C2;
	svg {
		@include adaptiveValue("width", 30, 20);
		@include adaptiveValue("height", 30, 20);
	}
}

.item-form--number {
	.calendar-box-info__arrow {
		svg {
			width: rem(15);
			height: rem(24);
		}
	}
}
//========================================================================================================================================================

.inputs-city { 
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	border: rem(1) solid #CEE5FF;
	border-radius: rem(10);
	overflow: hidden;
	@include adaptiveValue("height", 60, 44);
}
.inputs-city__item {
}
.item-city {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.item-city__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	// flex: 0 0 rem(60);
	width: rem(60);
	padding-left: rem(5);
	svg {
		@include adaptiveValue("width", 16, 12);
		@include adaptiveValue("height", 16, 12);
	}
}
.item-city__input {
	// position: relative;
	// text-align: right;
	// direction: rtl;
	// width: 100%;

	position: relative;
	text-align: right;
	direction: rtl;
	width: 100%;
	display: flex;
	align-items: flex-end;
	padding: 8px 0px;

	input {
		width: 100%;
		// height: 100%;
		padding: 0 rem(20);
		font-size: rem(20);
		color: #444;
	}
}

.inputs-city__btn {
}
.btn-city {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 rem(60);
	width: rem(60);
	@include adaptiveValue("width", 60, 40);
	background-color: #fff;
	border-left: rem(1) solid #CEE5FF;
	border-right: rem(1) solid #CEE5FF;
	svg {
		flex: 0 0 rem(30);
		@include adaptiveValue("width", 30, 20);
		@include adaptiveValue("height", 30, 20);
	}
}
 
 .item-city__label {
	font-size: rem(14);
	color: #666;
	pointer-events: none;
	position: absolute;
	top: rem(20);
	right: rem(20);
	transform-origin: 0 50%;
	transition: transform 200ms, color 200ms;
 }

 .item-city__input input:focus ~ .item-city__label,
 .item-city__input input:not(:placeholder-shown) ~ .item-city__label {
	transform: translateY(-15px) translateX(10px) scale(1);
 }

 .inputs-city._reverse {  
	@media (min-width: em(540)){
		flex-direction: row-reverse;
	}
 }

 .input-item__input--time input {
	padding-right: 0;
 }