//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	display: block;
	font-size: rem(16);
	font-weight: 400;
	@include adaptiveValue("height", 56, 44);
	color: #666;
	text-align: right;
	padding: rem(15) rem(20);
	border-radius: rem(10);
	border: 1px solid #CEE5FF;
	&._form-focus {
	}
	&._form-error {
	}
}
.item-form--tel .input {
	text-align: left;
}
textarea.input {
	min-height: rem(80);
	resize: none;
	// padding: 0px 0px;
}

.item-form._form-error {
	.input {
		border: 1px solid red;
	}
}

.input-item {
	display: flex;
	// align-items: center;
	@include adaptiveValue("height", 60, 40);
	border: 1px solid #C2C2C2;
	border-radius: rem(10);
	background-color: #fff;
}
.input-item__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	@include adaptiveValue("width", 60, 50);
	svg {
		width: rem(14);
		height: rem(8);
	}
}
.input-item__input {
	flex: 1 1 auto;
	input {
		font-size: rem(16);
		font-weight: 400;
		color: #666;
		padding: rem(15) rem(20);
		width: 100%;
		height: 100%;
		text-align: right;
	}
}
.input-item__icon-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
	@include adaptiveValue("width", 60, 50);
	border-left: rem(1) solid #C2C2C2;
	svg {
		@include adaptiveValue("width", 30, 20);
		@include adaptiveValue("height", 30, 20);
	}
}