//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	display: block;
	font-size: rem(16);
	font-weight: 400;
	@include adaptiveValue("height", 56, 44);
	color: #666;
	text-align: right;
	padding: rem(15) rem(20);
	border-radius: rem(10);
	border: 1px solid #CEE5FF;
	&._form-focus {
	}
	&._form-error {
	}
}
.item-form--tel .input {
	text-align: left;
}
textarea.input {
	min-height: rem(80);
	resize: none;
	// padding: 0px 0px;
}
