// Заголовки, общие БЄМ блоки и проче...
.title	{
	text-align: center;
	color: #0587D6;
	span {
		padding-bottom: rem(3);
		border-bottom: 1px dashed #0587D6;
	}
}

.title-right {
	text-align: right;
}

.title--dark {
	color: #242440;
}
//========================================================================================================================================================
.phone-contact--big {
	font-size: rem(40);
}
//========================================================================================================================================================

// Стилизация скролла сайта ==============================================================================================================================
::-webkit-scrollbar {
	overflow-y: scroll;
	width: 7px;
	background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
	background-color: #0587D6;
}
//========================================================================================================================================================

.phone-contact--blue {
	color: #0587D6;
	transition: all 0.4s ease 0s;
	@media (any-hover: hover){
		 &:hover { 
		  color: #444;
	  } 
	}
}

.nuar-blk {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		// background: rgb(0,0,0);
		// background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(131,128,128,1) 70%);

		background-color: #00000075;
		z-index: 5;
}
//========================================================================================================================================================

.icon-social {
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(40);
	height: rem(40);
	// border: 1px solid #000;
	border-radius: rem(10);
	overflow: hidden;
	svg {
		flex: 0 1 100%;
		height: 100%;
	}
}
//========================================================================================================================================================

.share {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	gap: rem(16);
	@include adaptiveValue("padding-top", 31, 22);
	@include adaptiveValue("padding-bottom", 34, 22);
	border-top: 1px solid #E7F2FF;
	border-bottom: 1px solid #E7F2FF;
	@media (max-width: em(540)){
		 flex-direction: column-reverse; 
	}
	// .share__link
	&__link {
		font-size: rem(16);
		font-weight: 400;
		// line-height: 18.96px;
	}

	// .share__action
	&__action {
		// display: grid; 
		// align-items: center;
		// grid-template-columns: rem(280) 1fr; 
		display: flex;
		align-items: center;
		flex-wrap: wrap-reverse;
		gap: rem(17);
		@media (max-width: em(540)){
			 flex-direction: column-reverse; 
		}
	}

	// .share__social
	&__social {
	}

	// .share__text
	&__text {
		@include adaptiveValue("font-size", 20, 14);
		font-weight: 400;
		line-height: 23.7px;
		line-height: math.div(23.7, 20);
		text-align: right;
		color: #666666;
	}
}

.social-share {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 8, 4);
	// .social-share__icon
	&__icon {
		width: rem(40);
		height: rem(40);
		@include adaptiveValue("width", 40, 26);
		@include adaptiveValue("height", 40, 26);
	}
}
//========================================================================================================================================================

.tizers {

	// .tizers__item
	&__item {
		display: flex;
		align-items: center;
		gap: rem(21);
	}

	// .tizers__text
	&__text {
		font-size: rem(20);
		font-weight: 700;
		line-height: math.div(24, 20);
		text-align: right;
		color: #0587D6;
	}

	// .tizers__img
	&__img {
		flex: 0 0 rem(77);
		width: rem(77);
		height: rem(77);
		border-radius: 50%;
		overflow: hidden;
		img {
			height: 100%;
		}
	}
}
//========================================================================================================================================================

.item-form {
	display: flex;
	flex-direction: column;
	text-align: right;
	// .item-form__label
	&__label {
		direction: rtl;
	font-size: rem(20);
	font-weight: 700;
	line-height: math.div(32, 20);
	text-align: right;
	color: #242440;

	span {
		color: red;
	}
		&:not(:last-child){
			margin-bottom: rem(8);
		}
	}

	// .item-form__input
	&__input {
	}
}
//========================================================================================================================================================

.cat-button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	transition: all 0.4s ease 0s;
}

.cat-button__btn {
	position: relative;
	font-size: rem(16);
	font-weight: 400;
	line-height: math.div(18.96, 16);
	line-height: 18.96px;
	text-align: center;
	padding: rem(8) rem(12);
	border-radius: rem(7);
	background-color: #fff;
	overflow: hidden;
	transition: all 0.4s ease 0s;
	@media (any-hover: hover){
		 &:hover { 
			background-color: #E7F2FF;
	  } 
	}
}

.cat-button input[type=radio]:checked+.cat-button__btn {
	background-color: #E7F2FF;
}

.cat-button__name {

}

.control-page {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	direction: rtl;
	@include adaptiveValue("gap", 25, 10);
}
.control-page__form {
	gap: rem(20); 
}
.control-page-popup__inner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	direction: rtl;
	@include adaptiveValue("gap", 25, 10);
}
//========================================================================================================================================================
.header-page {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}
.header-page__breadcrumbs {
	justify-content: flex-end;
	&:not(:last-child){
		margin-bottom: rem(15);
	}
	@media (max-width: em(768)){
		 display: none; 
	}
.breadcrumbs__item::after,
.breadcrumbs__current,
.breadcrumbs__link {
	color: #C2C2C2;
}
}

.header-page__title {
	color: #242440;
}
//========================================================================================================================================================

.info-detail__middle {
	max-width: rem(847);
	margin: 0px auto;
}
//========================================================================================================================================================

.cost-table {
}
.cost-table__box {
}
.box-cost-table {
	direction: rtl;
	display: grid;
    grid-template-columns: rem(522) 1fr;
	 @media (max-width: em(768)){
		grid-template-columns: 1fr 1fr;
	 }
   //  gap: 0.625rem 0;
	text-align: right;
	border: 1px solid #CEE5FF;
	border-bottom: none;
	border-radius: rem(10);
	overflow: hidden;
}
.box-cost-table__label {
	display: flex;
	flex-direction: column;
	@include adaptiveValue("font-size", 20, 12);
	line-height: math.div(28, 20);
	padding: rem(15) rem(20);
	border-left: 1px solid #CEE5FF;
	border-bottom: 1px solid #CEE5FF;
	min-height: 121px;
	span {
		font-weight: 700;
		color: #3C4061;
	}
}
.box-cost-table__value {
	display: flex;
	align-items: center;
	@include adaptiveValue("font-size", 24, 16);
	font-weight: 700;
	line-height: math.div(28.44, 24);
	color: #0587D6;
	padding: rem(15) rem(20);
	border-bottom: 1px solid #CEE5FF;
	min-height: 121px;
}

.box-cost-table__label--bg,
.box-cost-table__value--bg {
	font-size: rem(24);
	line-height: math.div(33.6, 24);
	font-weight: 700;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: #3C4061;
	background: #E7F2FF;
}

.cost-table--center {
	.box-cost-table__label,
	.box-cost-table__value {
		// align-items: center;
		justify-content: center;
	}
}
//========================================================================================================================================================

.price-item {
	direction: rtl;
	// font-size: rem(36);
	@include adaptiveValue("font-size", 36, 26);
	font-weight: 700;
	line-height: math.div(42.66, 36);
	color: #0486D3;
} 
//========================================================================================================================================================


.box-banner {
}
.box-banner__img {
	&:not(:last-child){
		margin-bottom: rem(20);
	}
}
.img-box-banner-ibg {
	padding-bottom: 27.5%;
	border-radius: rem(10);
	background-color: #C2C2C2;
	overflow: hidden;
}
.box-banner__footnote {
	font-size: rem(20);
	font-weight: 400;
	line-height: math.div(34, 20);
	text-align: right;
}
//========================================================================================================================================================

.list-special {
	li {
		position: relative;
		display: flex;
		gap: rem(12);
		padding-right: 25px;
		&:not(:last-child){
			margin-bottom: rem(10);
		}
		&::before{
			position: absolute;
			top: 10px;
			right: 0px;
			content:''; 
			float: left; 
			width: 16px;
			flex: 0 0 rem(16);
			height: rem(16);
			border-radius: 50%;
			background: #FF6A00;
		}
	}
}
//========================================================================================================================================================

.descp-details__cost-table {
	&:not(:last-child){
		margin-bottom: rem(56);
	}
}

//========================================================================================================================================================

.price-filter {
}
.price-filter__body {
	display: flex;
	flex-direction: column;
	gap: rem(19);
}
.price-filter__inputs {
	display: grid; 
	grid-template-columns: rem(130) rem(130);
	gap: rem(10);
	input {
		width: 100%;
	}
}
.price-filter__input-label {
	direction: rtl;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: rem(40);
	gap: rem(8);
	padding: rem(8) rem(10);
	border: 1px solid #C2C2C2;
	border-radius: rem(7);
}
.price-filter__input-text {
	font-size: rem(14);
	line-height: math.div(23.8, 14);
	color: #666;
}
.price-filter__input {
	font-size: rem(14);
	line-height: math.div(23.8, 14);
	color: #444;
}
.price-filter__range {
}
//========================================================================================================================================================


.actions {
}
.actions__inner {
	display: flex;
	flex-direction: column;
	@include adaptiveValue("gap", 24, 12);
}
.actions__box {
}
.box-actions {
	position: relative;
	@include adaptiveValue("padding", 40, 18);
	background: #EFF7FF;
	border: 1px solid #CEE5FF;
	border-radius: rem(10);
}
.box-actions__img {
	position: absolute; 
	top: 0%; 
	// left: 0%; 
	right: 0;
	z-index: 5; 
	width: 100%; 
	height: 100%;
	background: linear-gradient(171.22deg, rgba(221, 238, 255, 0.156) 2.84%, rgba(0, 162, 229, 0.6) 128.75%);
}
.box-actions__title {
	@include adaptiveValue("font-size", 40, 28);
	font-weight: 600;
	line-height: math.div(47.4, 40);
	color: #0587D6;
	text-align: center;
	&:not(:last-child){
		@include adaptiveValue("margin-bottom", 38, 16);
	}
}
.box-actions__subtitle {
	@include adaptiveValue("font-size", 22, 16);
	font-weight: 400;
	line-height: math.div(26.07, 22);
	line-height: 26.07px;
	text-align: center;
	&:not(:last-child){
		@include adaptiveValue("margin-bottom", 38, 16);
	}
}
.box-actions__form {
}
.form-box-actions {
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
	gap: rem(26);
	@media (max-width: em(768)){
		 .item-form__label {
			display: none;
		 } 
	}
}
.form-box-actions__col {
	display: flex;
	align-items: flex-end;
	display: grid; 
	grid-template-columns: rem(241) 1fr 1fr; 
	@include adaptiveValue("gap", 37, 14);
	width: 100%;
	justify-content: space-between;
	@media (max-width: em(768)){
		grid-template-columns: 1fr;  
	}
}

.form-box-actions__line {

}

.form-box-actions__row {
	display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr)); 
	gap: rem(21);
	@media (max-width: em(630)){
		grid-template-columns: 1fr;
	}
}

.result-box-actions {
	direction: rtl;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: rem(20);
	@include adaptiveValue("font-size", 20, 14);
	font-weight: 700;
	line-height: math.div(23.7, 20);
	text-align: center;
	padding: rem(10);
	@include adaptiveValue("height", 60, 38);
	border-radius: rem(10);
	border: 1px solid #CEE5FF;
	background-color: #fff;
	color: #C2C2C2;
	@media (max-width: em(768)){
		 order: 3; 
	}
}

.form-box-actions__input {
}
.input-box-actions {
	padding: rem(20);
	border: 1px solid #CEE5FF;
	background-color: #fff;
	border-radius: rem(10);
}
.input-box-actions__line {
	display: grid; 
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr)); 
	gap: rem(56);
	max-width: rem(530);
	margin: 0px auto;
	// @media (max-width: em(540)){
	// 	grid-template-columns: 1fr;
	// }
}
.input-box-actions__text {
	font-size: rem(20);
	font-weight: 500;
	line-height: math.div(24.38, 20);
	color: #6B748B;
	@media (max-width: em(630)){
		display: none;
	}
}
.input-box-actions__btn {
	font-size: rem(16);
	padding-top: rem(10.5);
	padding-bottom: rem(10.5);
}

.form-box-actions__row--actions {
	@media (max-width: em(630)){
		  .form-box-actions__btn {
			order: 2;
		  }
	}
}
//========================================================================================================================================================

audio {
	width: 100%;
	height: 100%;
}
audio::-webkit-media-controls-panel {
	background-color: #E7F2FF;
	border-radius: rem(10);
 }

audio::-webkit-media-controls-mute-button {
	display: none;
}
audio::-webkit-media-controls-play-button {
	background-color: #0587D6;
	border-radius: 50%;
}
// audio::-webkit-media-controls-timeline-container {
// 	display: none;
// }
// audio::-webkit-media-controls-current-time-display {
// display: none;
// }
// audio::-webkit-media-controls-time-remaining-display  {
// 	background-color: #fff;
// }
// audio::-webkit-media-controls-timeline {
// 	width: 100%;
// }
audio::-webkit-media-controls-volume-slider-container {
	display: none;
}
audio::-webkit-media-controls-volume-slider {
	display: none;
}
audio::-webkit-media-controls-seek-back-button {
	display: none;
}
audio::-webkit-media-controls-seek-forward-button {
	display: none;
}
audio::-webkit-media-controls-fullscreen-button {
	display: none;
}
audio::-webkit-media-controls-rewind-button {
	display: none;
}
audio::-webkit-media-controls-return-to-realtime-button {
	display: none;
}
audio::-webkit-media-controls-toggle-closed-captions-button {
	display: none;
}
//========================================================================================================================================================

.page__choice {
}
.choice {
	display: flex;
	flex-direction: column;
	gap: rem(30);
}
.choice__item {
	max-width: rem(771);
	width: 100%;
	margin: 0px auto;
}
.item-choice {
	display: flex;
	flex-direction: column;
	@include adaptiveValue("gap", 40, 14);
	padding: rem(24) rem(50);
	@include adaptiveValue("padding-top", 24, 16);
	@include adaptiveValue("padding-bottom", 24, 16);
	@include adaptiveValue("padding-left", 51, 14);
	@include adaptiveValue("padding-right", 51, 14);
	border: 1px solid #CEE5FF;
	background-color: #E7F2FF;
	border-radius: rem(10);
}

.item-choice__row {
	display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr)); 
	@include adaptiveValue("gap", 30, 14);
	align-items: start;
	@media (max-width: em(414)){
		grid-template-columns: 1fr;  
	}
}

.item-choice__col {
	direction: rtl;
	display: flex;
	flex-direction: column;
}
.item-choice__btn {
	padding-top: rem(5);
	padding-bottom: rem(5);
	@media (max-width: em(700)){
		 order: 2; 
	}
}
.item-choice__notification {
	font-size: rem(20);
	line-height: math.div(23.7, 20);
	text-align: right;
	color: #666;	
}

.control-page-popup {
	@media (max-width: em(540)){
		visibility: hidden;
    	// transform: scale(0);
    	transition: all 0.3s ease 0s;
		position: fixed; 
		top: 0;
		left: 0;
		z-index: 60; 
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: rem(15);

		.control-page-popup__inner {
			visibility: hidden;
			transform: scale(0);
			flex-direction: column;
			align-items: flex-start;
			gap: rem(12);
			max-width: rem(320);
			width: 100%; 
			padding: rem(20);
			background-color: #fff;
			border-radius: rem(10);
			box-shadow: 0px 4px 30px 0px #0000001A;
			transition: all 0.3s ease 0s;
		}

		.cat-button {
			width: 100%;
			justify-content: flex-start;
			transition: none;
	  }
	  .cat-button__btn {
		padding: 0;
		width: 100%;
		text-align: right;
		position: relative;
		transition: none;
		}
  		.cat-button input[type=radio]:checked + .cat-button__btn {
			background-color: #fff;
			&::before{
				position: absolute;
				content:''; 
				top: 50%; 
				left: 0%;
				transform: translateY(-50%);
				flex: 0 0 rem(18); 
				width: rem(18);
				height: rem(13);
				background-size: 100%; 
				background-position: 0 0; 
				background-repeat: no-repeat; 
				background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxOCAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xOCAxLjMyOTQ5TDYuMTMyIDEzTDAgNi45NzAwNUwxLjM1MTk5IDUuNjQwNTVMNi4xMzIgMTAuMzQxTDE2LjY0OCAwTDE4IDEuMzI5NDlaIiBmaWxsPSIjNDQ0NDQ0Ii8+Cjwvc3ZnPgo=');
			}
		}
	}
}

.control-page__name--mob {
	@media (max-width: em(540)){
		 display: none; 
	}
}

.control-page__mob {
	display: none;
	@media (max-width: em(540)){
		 display: flex; 
	}
}
.mob-control {
	flex-direction: row-reverse;
	align-items: center;
	gap: rem(8);
}
.mob-control__name {
	font-size: rem(20);
	font-weight: 700;
	line-height: math.div(23.7, 20);
}
.mob-control__button {
	flex: 0 0 rem(22);
	width: rem(22);
	height: rem(22);
	svg {
		width: 100%;
		height: 100%;
	}
} 

.control-page._active {
	@media (max-width: em(540)){
		.control-page-popup__inner,
		.control-page-popup {
				visibility: visible;
				transform: scale(1);
		}
	}
}