#content {
	direction: rtl;
	text-align: right;
	h2,h3,h4,h5,h6 {
		&:not(:last-child){
			margin-bottom: rem(24);
		}
	}
	p {
		font-size: rem(20);
		font-weight: 400;
		line-height: math.div(34, 20);
		&:not(:last-child){
			margin-bottom: rem(32);
		}
	}

	ul {
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 36, 20);
		}
		li {
			//styleName: Text;
			font-size: rem(20);
			font-weight: 400;
			line-height: math.div(34, 20);
			text-align: right;
			color: #444;
			&:not(:last-child){
				@include adaptiveValue("margin-bottom", 15, 8);
			} 
		}
	}

	img {
		border-radius: rem(10);
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 56, 16);
		}
	}

}

.notification-content { 
	font-size: rem(16);
	font-weight: 400;
	line-height: math.div(27.2, 16);
	text-align: right;
	padding: rem(18) rem(24) rem(28) rem(24);
	border-radius: rem(10) 0px 0px rem(10);
	background-color: #E7F2FF;
	overflow: hidden;
	border-right: rem(4) solid #0587D6;
	q::before{
		display: none;
	}
	q::after{
		display: none;
	}
} 