#content {
	text-align: right;
	h2,h3,h4,h5,h6 {
		&:not(:last-child){
			margin-bottom: rem(24);
		}
	}
	p {
		font-size: rem(20);
		font-weight: 400;
		line-height: math.div(34, 20);
		&:not(:last-child){
			margin-bottom: rem(32);
		}
	}

}

.notification-content {
	font-size: rem(16);
	font-weight: 400;
	line-height: math.div(27.2, 16);
	text-align: right;
	padding: rem(18) rem(24) rem(28) rem(24);
	border-radius: rem(10) 0px 0px rem(10);
	background-color: #E7F2FF;
	overflow: hidden;
	border-right: rem(4) solid #0587D6;
} 