.main-banner {
	position: relative;
	// .main-banner__container
	&__container {
	}

	// .main-banner__descp
	&__descp {
		position: relative;
		z-index: 5;
		display: flex;
		flex-direction: column;
		justify-content: center; 
		min-height: rem(472);
		@include adaptiveValue("padding-top", 60, 20);
		@include adaptiveValue("padding-bottom", 60, 20);
		@include adaptiveValue("min-height", 472, 190);
	}
	&__body {
	}
}
