.main-banner {
	position: relative;
	background-size: cover !important;
	&__slider {
		position: relative;
		background-size: cover !important;
	}
	// .main-banner__container
	&__container {
		width: 100%;
	}

	// .main-banner__descp
	&__descp {
		position: relative;
		z-index: 5;
		display: flex;
		flex-direction: column;
		justify-content: center; 
		align-items: center;
		@include adaptiveValue("padding-top", 60, 20);
		@include adaptiveValue("padding-bottom", 60, 20);
		@include adaptiveValue("min-height", 472, 190);
	}
	&__body {
		max-width: rem(843);
		width: 100%;
		text-align: center;
		h1 {
			@include adaptiveValue("font-size", 64, 22);
			font-weight: 700;
			line-height: math.div(76.8, 64);
			&:not(:last-child){
				@include adaptiveValue("margin-bottom", 36, 6);
			}
		}
	}
	&__top-title {
		font-size: rem(24);
		@include adaptiveValue("font-size", 24, 16);
		font-weight: 600;
		line-height: math.div(28.44, 24);
		text-align: right;
		color: #fff;
	}
}

	.main-banner--inner {
		// .main-banner__descp
		.main-banner__descp {
			justify-content: space-between;
    		align-items: flex-end;
			@include adaptiveValue("min-height", 464, 190);
		}
		.main-banner__header {
			text-align: right;
		}
		.main-banner__body {
			max-width: 100%;
			h1 {
				text-align: right;
			}
		}
	}

	.main-banner__img {
		position: absolute; 
		top: 0%; 
		left: 0%; 
		z-index: 2; 
		width: 100%; 
		height: 100%;
		img {
			height: 100%;
		}
	}

.main-banner__subtitle {
	@include adaptiveValue("font-size", 40, 14);
	font-weight: 700;
	line-height: math.div(47.4, 40);
	text-align: center;
	color: #fff;
}

.main-banner__body--center {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}