.main-banner {
	position: relative;
	// .main-banner__container
	&__container {
	}

	// .main-banner__descp
	&__descp {
		position: relative;
		z-index: 5;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: rem(472);
		// @include adaptiv-value("min-height", 472, 150, 0);
	}
	&__body {
	}
}
