.partners__slide {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #DCDBDB;
	border-radius: rem(10);
	overflow: hidden;
	position: relative;
	// padding-bottom: 8.5%;
	// padding-bottom: 35%;
	// min-height: rem(64);
	@include adaptiveValue("min-height", 110, 64);
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		object-fit: contain;
		// padding: rem(23);
		@include adaptiveValue("padding", 23, 10);
	}
}

.partners__banners{
	display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr)); 
	@include adaptiveValue("gap", 20, 8);
	.partners__slide {
		padding-bottom: 26.2%;
  }
}

.partners__container {
	@media (max-width: em(1280)){
		 padding: 0; 
	}
}

.partners__wrapper {
	padding-top: 8px;
	padding-bottom: 8px;
}
