.partners__slide {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: rem(25);
	border: 1px solid #DCDBDB;
	border-radius: rem(10);
	overflow: hidden;
	max-height: rem(110);
	img {
		height: 100%;
		object-fit: contain;
	}
}