
.trains-info {
}
.trains-info__inner {
	display: flex;
	flex-direction: column;
	@include adaptiveValue("gap", 40, 12);
}
.trains-info__item {
}
.item-trains-info {
	direction: rtl;
	display: flex;
	flex-direction: column;
	text-align: right;
	padding: rem(20);
	border: 1px solid #CEE5FF;
}
.item-trains-info__title {
	color: #242440;
	&:not(:last-child){
		margin-bottom: rem(20);
	}
}
.item-trains-info__descp {
	font-size: rem(20);
	line-height: math.div(34, 20);
	color: #242440;
	p {
		&:not(:last-child){
			margin-bottom: rem(13);
		}
	}
} 

.stages {
}
.stages__box {
}
.box-stages {
}
.box-stages__inner {
	position: relative;
	display: flex;
	// align-items: flex-start;
	flex-direction: column;
	@include adaptiveValue("gap", 25, 14);
}

.box-stages__vertical-line {
	position: absolute;
	top: 51.3%;
	left: 50%;
	@include adaptiveValue("width", 27, 13);
	height: 100%;
	transform: translate(-50%, -51.8%);
	img {
		height: 100%;
	}
	@media (max-width: em(515)){
		 display: none; 
	}
}

.item-box-stages {
	position: relative;
	max-width: 46.4%;
	width: 100%;
	@media (max-width: em(515)){
		 max-width: 100%; 
	}
	&::before{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		content:''; 
		float: left; 
		// width: 10%;
		@include adaptiveValue("width", 40, 20);
		height: rem(2);
		background: #DFDFDF;
	}
}
.item-box-stages__inner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: rem(20);
	padding: rem(25);
	@include adaptiveValue("min-height", 136, 76);
	background: #FFFCF4;
	border-radius: rem(10);
	border: 2px solid #FEE9B3;
	overflow: hidden;
}
.item-box-stages__text {
	@include adaptiveValue("font-size", 24, 14);
	line-height: math.div(33.6, 24);
	flex: 1 1 auto;
	text-align: center;
	@media (max-width: em(515)){
		 text-align: right; 
	}
}
.item-box-stages__number {
	@include adaptiveValue("font-size", 60, 28);
	font-weight: 700;
	line-height: math.div(71.1, 60);
	text-align: center;
	color: #FF8731;
	@include adaptiveValue("width", 80, 30);
}

.box-stages__item {
	align-self: flex-end;
	&::before{
		// left: -39px;
		@include adaptiveValue("left", -39, -5);
		right: auto;
		@media (max-width: em(515)){
			 display: none; 
		}
	}
	&:nth-child(2n) {
		align-self: flex-start;
		&::before{
			// right: -39px;
			@include adaptiveValue("right", -39, -5);
			left: auto;
			@media (max-width: em(515)){
				 display: none; 
			}
		}
	}
}

.box-stages--air {
	// min-height: 981px;
	@include adaptiveValue("min-height", 1000, 400);
	.box-stages__inner {
		@include adaptiveValue("gap", 32, 8);
	}
	.item-box-stages__inner {
		background-color: #E7F2FF;
		border: 1px solid #CEE5FF;
	}
	.box-stages__vertical-line {
		display: none;
	}
	.box-stages__item {
		align-self: flex-end;
		&:nth-child(2n) {
			align-self: flex-start;
		}
		&::before{
			display: none;
		}
	}
	.item-box-stages__number {
		color: #0587D6B2;
  }
}

.box-stages__trajectory {
	position: absolute;
	max-width: 100%;
	height: 100%;
	overflow: hidden;
	@include adaptiveValue("top", 150, 50);
	@include adaptiveValue("left", 140, -100);
	@media (max-width: em(700)){
		  display: none;
	}
	svg {
		width: 100%;
		height: 100%;
	}
}

#tractor {
	transform: translate(45%, 94%);
}


.text-info {
	direction: rtl;
}
.text-info__container {
}
.text-info__descp {
	p {
		@include adaptiveValue("font-size", 20, 12);
		line-height: 32px;
		line-height: math.div(32, 20);
		text-align: right;
			&:not(:last-child){
				margin-bottom: rem(15); 
			}
		}
}
.text-info__descp-size-m {
	max-width: 73%;
	@media (max-width: em(991)){
		 max-width: 100%; 
	}
}