.page {

	// .page__ui

	&__ui {
		padding: rem(55) 0;
	}
}
.ui {

	// .ui__container 

	&__container {
	}

	// .ui__inner

	&__inner {
		display: flex;
		flex-direction: column;
		// display: grid; 
		// grid-template-columns: repeat(auto-fit, minmax(rem(600), 1fr)); 
		gap: rem(50);
	}

	// .ui__item

	&__item {
		display: flex;
		flex-direction: column;
		h3 {
			&:not(:last-child){
				margin-bottom: rem(20);
			}
		}
	}

	// .ui__col

	&__col {

	}
}

.ui__col_directions {
	display: flex;
	flex-direction: column;
	gap: rem(50);
}